.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header{
    
    padding: 1.0625vw 6.25vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    width: 100%;
    transition: .5s;
}
header.bg-white{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.nav-item .router-link-active{
    font-weight: 700;
}
.header_logo img {
    height:3.55vw;
    width:10.75vw;
    object-fit: contain;
    object-position: left;
}

.navbar{
    display: flex;
    gap: 2.15vw;

}

.nav-item {
    font-size: 1vw;
    color: var(--color-main); 
    font-weight: 500;  
    position: relative;
}
.header_btn-contact a {
    height: 3.25vw;
    width: 10.25vw;
    box-shadow: 0px 0px 30px 0px #EDA7455C;
    color: #fff;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1vw;
    background: var(--color-linear);

}

.submenu{
    position: absolute;
    top:100%;
    left:0;
    background: #fff;
    padding: 1vw 1.5vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0;
    width: max-content;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    pointer-events: none;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.nav-item:hover .submenu{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.submenu a {
    font-size: 0.8750000000000001vw;
    display: block;
}